//
// _table.scss
//

.table {
  th {
      font-weight: $font-weight-bold;
  }
}

//Table centered
.table-centered {
  td,th {
      vertical-align: middle !important;
      text-align: center !important;
  }
  th {
    height: 32px !important;
    max-height: 32px !important;
  }

  td {
    height: 50px !important;
    max-height: 50px !important;
  }
}

.table-nowrap {
  th, td {
    white-space: nowrap;
  }
}
