//
// Google font - Roboto
//

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');


@font-face {
  font-family: 'Open-Sans-Regular';
  src: url('../../../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Frackle-Face-Regular';
  src: url('../../../fonts/frackle-face/FreckleFace-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tino-Regular';
  src: url('../../../fonts/tino/Tinos-Regular.ttf') format('truetype');
}
