.filter-container {
  width: 750px !important;
  .btn-manipulation {
    text-align: center;
    margin-top: 8px;

    button {
      width: 20%;
    }

    .search {
      margin-right: 8px;
    }
  }
}

.nav-custom {
  &:hover {
    background: #e0e0e0;
  }
}
.active-nav {
  background: #bdbdbd;
}

.one-row {
  display: flex;
  justify-content: space-between;

  div {
    width: 45%;
  }
}
