:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {

  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 9;
  box-shadow: 1px 3px 6px 0 rgba(32,33,36,0.10);
  font-family: Tino-Regular;
  font-size: 16px;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {

  font-family: Open-Sans-Regular;
  font-size: 14px;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    top: 0px !important;
  }
}

.table-wrapper-custom {
  //max-height: 680000px;
  //overflow: auto;
}

:host ::ng-deep .p-datatable .p-paginator {

  span {
    //font-family: Open-Sans-Regular;
    font-size: 14px;
  }
  //position: -webkit-sticky;
  //position: fixed;
  //top: calc(100vh - 60px);
  ////right: calc(100vw - 1400px);
  //left: 40%;
  //z-index: 300;
  //box-shadow: 1px 3px 6px 0 rgba(32,33,36,0.10);
}

:host ::ng-deep .p-datatable .p-datatable-wrapper {
  overflow-x: initial;
}

.search-icon-custom {

  &:hover {
    cursor: pointer;
  }
}

:host ::ng-deep .p-toolbar {
    padding: 0;
    border: none;
    background: #ffffff;
}

.p-button-danger {
  background: red !important;
  margin-right: 4px;
  width: auto;
}

.p-button-success {
  width: auto;
  height: auto;
}

:host ::ng-deep .p-button-label {
  font-family: Open-Sans-Regular;
  font-size: 13px;
}

.btn-manipulation {
  display: flex;
  justify-content: center;

  .btn-edit {
    margin-right: 32px;
  }

  .btn-remove {
    border-radius: 50%;
  }
}

.temp-right-custom {
  display: inline-flex;
  padding-left: 8px;
  justify-content: flex-end !important;
}

.temp-left-custom {
  display: inline-flex;
}

@media (max-width: 992px) {
  .temp-right-custom {
    display: inline-flex;
    padding-left: 8px;
    justify-content: flex-start !important;
  }
}



